.frame4-container {
  min-height: 100vh;
}
.frame4-frame4 {
  width: 1453px;
  height: 874px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame4-group75 {
  top: 467px;
  left: 0px;
  width: 1453px;
  height: 412.73077392578125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-group45 {
  top: 0px;
  left: 0px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-group39 {
  top: 0px;
  left: 0px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame4-group38 {
  top: 44.74376678466797px;
  left: 189.10574340820312px;
  width: 220px;
  height: 96px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32.080440521240234px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4-group66 {
  top: 12.194320678710938px;
  left: 15.00839900970459px;
  width: 157.0253143310547px;
  height: 162.09063720703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-group68 {
  top: 0px;
  left: 0px;
  width: 157.0253143310547px;
  height: 162.09063720703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(233, 245, 251, 1);
}
.frame4-manprogrammerwritingcodeandmakewebdesignona-pc {
  top: 39.397071838378906px;
  left: 12.194319725036621px;
  width: 133px;
  height: 83px;
  position: absolute;
  border-color: transparent;
}
.frame4-group46 {
  top: 0.000008526334568159655px;
  left: 494.3388977050781px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-group40 {
  top: 0px;
  left: 0px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame4-group3801 {
  top: 44.74376678466797px;
  left: 189.1057586669922px;
  width: 167px;
  height: 96px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-text05 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32.080440521240234px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4-group67 {
  top: 12.194320678710938px;
  left: 15.196216583251953px;
  width: 157.0253143310547px;
  height: 162.09063720703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(254, 247, 217, 1);
}
.frame4-megaphonemarketing {
  top: 24.38861083984375px;
  left: 24.3886775970459px;
  width: 108px;
  height: 113px;
  position: absolute;
  border-color: transparent;
}
.frame4-group50 {
  top: 227.00198364257812px;
  left: 988.6777954101562px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-group44 {
  top: 0px;
  left: 0px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame4-group3802 {
  top: 44.74366760253906px;
  left: 189.1059112548828px;
  width: 206px;
  height: 96px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32.080440521240234px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4-group72 {
  top: 12.19434928894043px;
  left: 15.102469444274902px;
  width: 157.0253143310547px;
  height: 162.09063720703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(241, 241, 251, 1);
}
.frame4-youngmansurroundedbygadgetstakingnotes {
  top: 30.01681137084961px;
  left: 15.946354866027832px;
  width: 126px;
  height: 102px;
  position: absolute;
  border-color: transparent;
}
.frame4-group73 {
  top: 0.000008526334568159655px;
  left: 988.6777954101562px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-group41 {
  top: 0px;
  left: 0px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame4-text15 {
  top: 45.025142669677734px;
  left: 203.64532470703125px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32.080440521240234px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4-group47 {
  top: 12.194320678710938px;
  left: 15.102469444274902px;
  width: 157.0253143310547px;
  height: 162.09063720703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-group69 {
  top: 0px;
  left: 0px;
  width: 157.0253143310547px;
  height: 162.09063720703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(252, 237, 238, 1);
}
.frame4-womaninonlinemeetingwithgraphictablet {
  top: 29.078691482543945px;
  left: 14.070422172546387px;
  width: 129px;
  height: 104px;
  position: absolute;
  border-color: transparent;
}
.frame4-group48 {
  top: 227.00198364257812px;
  left: -5.6843418860808015e-14px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-group42 {
  top: 0px;
  left: 0px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame4-group3803 {
  top: 69.13229370117188px;
  left: 189.10574340820312px;
  width: 115px;
  height: 48px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-text20 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32.080440521240234px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4-group70 {
  top: 12.19434928894043px;
  left: 15.00839900970459px;
  width: 157.0253143310547px;
  height: 162.09063720703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(233, 245, 251, 1);
}
.frame4-python {
  top: 15.946441650390625px;
  left: 14.070377349853516px;
  width: 129px;
  height: 129px;
  position: absolute;
  border-color: transparent;
}
.frame4-group49 {
  top: 227.00198364257812px;
  left: 494.3388977050781px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-group43 {
  top: 0px;
  left: 0px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame4-group3804 {
  top: 44.74366760253906px;
  left: 189.1057586669922px;
  width: 192px;
  height: 96px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-text22 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32.080440521240234px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4-group71 {
  top: 12.19434928894043px;
  left: 15.196216583251953px;
  width: 157.0253143310547px;
  height: 162.09063720703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(223, 255, 227, 1);
}
.frame4-twogirlswithdeliveryrobot {
  top: 32.83083724975586px;
  left: 22.512619018554688px;
  width: 112px;
  height: 97px;
  position: absolute;
  border-color: transparent;
}
.frame4-group74 {
  top: 0px;
  left: 0px;
  width: 1453px;
  height: 412.73077392578125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-group451 {
  top: 0px;
  left: 0px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-group391 {
  top: 0px;
  left: 0px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame4-group3805 {
  top: 44.74376678466797px;
  left: 189.10574340820312px;
  width: 220px;
  height: 96px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-text27 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32.080440521240234px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4-group661 {
  top: 12.194320678710938px;
  left: 15.00839900970459px;
  width: 157.0253143310547px;
  height: 162.09063720703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-group681 {
  top: 0px;
  left: 0px;
  width: 157.0253143310547px;
  height: 162.09063720703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(233, 245, 251, 1);
}
.frame4-manprogrammerwritingcodeandmakewebdesignona-pc1 {
  top: 39.397071838378906px;
  left: 12.194319725036621px;
  width: 133px;
  height: 83px;
  position: absolute;
  border-color: transparent;
}
.frame4-group461 {
  top: 0.000008526334568159655px;
  left: 494.3388977050781px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-group401 {
  top: 0px;
  left: 0px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame4-group3806 {
  top: 44.74376678466797px;
  left: 189.1057586669922px;
  width: 167px;
  height: 96px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-text32 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32.080440521240234px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4-group671 {
  top: 12.194320678710938px;
  left: 15.196216583251953px;
  width: 157.0253143310547px;
  height: 162.09063720703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(254, 247, 217, 1);
}
.frame4-megaphonemarketing1 {
  top: 24.38861083984375px;
  left: 24.3886775970459px;
  width: 108px;
  height: 113px;
  position: absolute;
  border-color: transparent;
}
.frame4-group501 {
  top: 227.00198364257812px;
  left: 988.6777954101562px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-group441 {
  top: 0px;
  left: 0px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame4-group3807 {
  top: 44.74366760253906px;
  left: 189.1059112548828px;
  width: 206px;
  height: 96px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-text37 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32.080440521240234px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4-group721 {
  top: 12.19434928894043px;
  left: 15.102469444274902px;
  width: 157.0253143310547px;
  height: 162.09063720703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(241, 241, 251, 1);
}
.frame4-youngmansurroundedbygadgetstakingnotes1 {
  top: 30.01681137084961px;
  left: 15.946354866027832px;
  width: 126px;
  height: 102px;
  position: absolute;
  border-color: transparent;
}
.frame4-group731 {
  top: 0.000008526334568159655px;
  left: 988.6777954101562px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-group411 {
  top: 0px;
  left: 0px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame4-text42 {
  top: 45.025142669677734px;
  left: 203.64532470703125px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32.080440521240234px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4-group471 {
  top: 12.194320678710938px;
  left: 15.102469444274902px;
  width: 157.0253143310547px;
  height: 162.09063720703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-group691 {
  top: 0px;
  left: 0px;
  width: 157.0253143310547px;
  height: 162.09063720703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(252, 237, 238, 1);
}
.frame4-womaninonlinemeetingwithgraphictablet1 {
  top: 29.078691482543945px;
  left: 14.070422172546387px;
  width: 129px;
  height: 104px;
  position: absolute;
  border-color: transparent;
}
.frame4-group481 {
  top: 227.00198364257812px;
  left: -5.6843418860808015e-14px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-group421 {
  top: 0px;
  left: 0px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame4-group3808 {
  top: 69.13229370117188px;
  left: 189.10574340820312px;
  width: 115px;
  height: 48px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-text47 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32.080440521240234px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4-group701 {
  top: 12.19434928894043px;
  left: 15.00839900970459px;
  width: 157.0253143310547px;
  height: 162.09063720703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(233, 245, 251, 1);
}
.frame4-python1 {
  top: 15.946441650390625px;
  left: 14.070377349853516px;
  width: 129px;
  height: 129px;
  position: absolute;
  border-color: transparent;
}
.frame4-group491 {
  top: 227.00198364257812px;
  left: 494.3388977050781px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-group431 {
  top: 0px;
  left: 0px;
  width: 464.3221435546875px;
  height: 185.72885131835938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame4-group3809 {
  top: 44.74366760253906px;
  left: 189.1057586669922px;
  width: 192px;
  height: 96px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame4-text49 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32.080440521240234px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4-group711 {
  top: 12.19434928894043px;
  left: 15.196216583251953px;
  width: 157.0253143310547px;
  height: 162.09063720703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(223, 255, 227, 1);
}
.frame4-twogirlswithdeliveryrobot1 {
  top: 32.83083724975586px;
  left: 22.512619018554688px;
  width: 112px;
  height: 97px;
  position: absolute;
  border-color: transparent;
}
